body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.left-section,
.search-section,
.right-section {
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo-btn {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	font-weight: bold;
	font-size: 18px;
	gap: 6px;
	cursor: pointer;
}

.icon-btn {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
}

.icon-btn img {
	height: 20px;
}

.search-section input {
	padding: 6px 10px;
	font-size: 16px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 2px 0 0 2px;
}

.search-section button {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 0 2px 2px 0;
	padding: 6px 10px;
}
.left-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-items: center;
}
