* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
	font-family: Arial, sans-serif;
	color: #333;
	line-height: 1.6;
	padding: 10px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 30px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #232127;
	padding: 30px;
	border-radius: 30px;
	color: white;
	width: 100%;
	max-width: 800px;
}

.profile img {
	width: 200px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
}

.info h1 {
	font-size: 28px;
	margin-bottom: 5px;
}

.info h2 {
	font-size: 18px;
	color: white;
}
.navigation {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.navigation a {
	text-decoration: none;
	color: #0077b5;
	font-weight: bold;
	font-size: 16px;
}

.navigation a:hover {
	text-decoration: underline;
}
main {
	margin-top: 30px;
}
section {
	background-color: #232127;
	color: white;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 30px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
section h3 {
	font-size: 22px;
	margin-bottom: 10px;
	border-bottom: 2px solid #444;
	padding-bottom: 5px;
	text-align: center;
}
section p {
	font-size: 15px;
}

section ul {
	list-style-type: disc;
	padding-left: 20px;
}

section ul li {
	margin-bottom: 8px;
}
.skills-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	list-style: none;
	padding: 0;
}

.skills-list li {
	text-align: center;
	padding: 0.5rem;
	color: white;
	background-color: #333;
	border-radius: 10px;
	font-size: 14px;
}
.experience ul,
.education ul,
.certifications ul {
	text-align: center;
	list-style-position: inside;
}
.experience h4 {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 40px;
	font-size: 14px;
	color: #666;
}
