* {
	background-color: black;
}
h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	font-size: x-large;
}
p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
.border-wrapper {
	padding: 4px;
	border-radius: 10px;
	background: linear-gradient(
		270deg,
		#ff9cf7,
		#ff58c0,
		#ff007b,
		#ff58c0,
		#0f020e
	);
	background-size: 600% 600%;
	animation: rgb-border 2s linear infinite;
}

.border-wrapper img {
	display: block;
	border-radius: 5px;
}

@keyframes rgb-border {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.MEME {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	color: white;
	text-align: center;
}

.MEME img {
}
