@media (max-width: 1250px) {
	.pricing-container {
		flex-direction: column;
		height: 100%;
	}
}
.pricing-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: 100vh;
}
.pricing-plan {
	flex: 1;
	text-align: center;
	background-color: rgb(194, 236, 250);
	border: 2px thin black;
	max-width: 500px;
	height: 300px;
	border-radius: 5%;
	font-size: large;
	margin-bottom: 10px;
	padding: 20px;
}
ul {
	list-style: none;
	margin-bottom: 10px;
}
.plan-button {
	background-color: rgb(238, 112, 66);
	border-radius: 10%;
	align-self: flex-end;
	width: max-content;
	height: 30px;
	color: white;
	margin-top: 10px;
	border: none;
}
.plan-price {
	font-size: 3rem;
	font-weight: bold;
}
.plan-title {
	font-style: italic;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 10px;
}
li {
	margin-top: 10px;
}
