* {
	font-family: sans-serif;
}
.second-selector code {
	color: forestgreen;
}

code {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	color: red;
}

h1 {
	color: blueviolet;
	font-family: sans-serif;
}

li {
	font-family: inherit;
}

li + li {
	background-color: black;
	color: white;
}

ol li {
	background-color: black;
	color: white;
}
