* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
}

.h1-main__header {
	background-image: url(freedom.jpg);
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	margin-top: 0;
	height: 100vh;
}
h2 {
	color: #2ddf5c;
	margin: 16px 5px;
}

.main-header {
	background-color: #2ddf5c;
	padding: 8px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.main-nav__home a {
	text-decoration: none;
	color: forestgreen;
	font-weight: bold;
	font-size: 20px;
	line-height: 1;
	padding: 0;
	margin: 0;
}
.main-nav__home a:hover,
.main-nav__home a:active,
ul li a:hover,
ul li a:active {
	color: white;
	border-bottom: 2px solid white;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.3s ease;
}

nav {
	width: auto;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 12px;
}
li {
	margin: 0;
	padding: 0;
}
ul li a {
	text-decoration: none;
	color: forestgreen;
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	padding: 4px 8px;
}
.main-header--cta a {
	background-color: #ff1b68;
	border: solid red;
	padding: 5px;
	border-radius: 30px;
	color: rgb(61, 61, 229);
}
.main-header--cta a:hover,
.main-header--cta a:active {
	background-color: white;
	border: solid red;
	padding: 5px;
	border-radius: 30px;
	color: rgb(71, 71, 255);
	opacity: 0.8;
	transition: all 0.3s ease;
}
